<!-- <section class="faqnew">
	<center>
		<div class="icon align-self-center"><br>
			<img src="../../assets/img/faq.png" class="img-fluid" alt="OneCard FAQ">
		</div><br>
		<div id="_FAQ">
			<span>Frequently Asked </span><span style="color:rgba(0,147,247,1);">Questions</span></br><br>
		</div>
	</center>

	<section class="accordion-section clearfix mt-3" aria-label="Question Accordions">
		<div class="container">

			<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

				<div class="panel panel-default">
					<div class="panel-heading p-3 mb-5" role="tab" id="heading6">
						<h3 class="panel-title faqq">
							<a id="link" class="collapsed" role="button" title="" data-toggle="collapse"
								data-parent="#accordion" href="#collapse6" aria-expanded="true"
								aria-controls="collapse6">
								Which bank or financial institution issues the OneCard?</a>
						</h3>
					</div>
					<div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading6">
						<div class="panel-body px-3 mb-4">
							<p>
								OneCard is a co-branded credit card issued in partnership with one of our banking /
								financial institution partners such as BoB Financial, CSB Bank, Federal Bank, SBM Bank
								and South Indian Bank.
							</p>
						</div>
					</div>
				</div>
 -->
