<!-- 

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css">


<section class="section about p-0">
  <div class="container">
    <div class="row align-items-center"> 
      <div class="col-md-6 order-1 order-md-1 text-md-left">
        <h1><div id="_AboutOneCard"> <span>About </span>
          <br/><span style="color:rgba(0,147,247,1);">OneCard</span> </div></h1>
        <br>
        <div id="_AboutOneCardText"> Credit cards haven't changed much for over half a century so our team of seasoned bankers, technologists and designers set out to redefine the credit card for YOU - the consumer.
          <br>
          <br> The result is OneCard - a credit card re-imagined for the mobile generation.</div>
      </div>
      <div class="col-md-6 text-center order-2 order-md-2">
        
        <img style="width: 100%;" src="../../assets/img/AboutUs_Banner_2.png" alt="">
      </div>  </div>
  </div>
</section>
<!-- End of About Section -->


<!-- Featured In-->
<!-- <section class="section clients bg-gray">
    <div class="container">
      <div class="row">
        <div class="col-10 m-auto text-center">
          <div id="_Featured">
          <span>Featured </span><span style="color:rgba(0,147,247,1);">In</span><br>
        </div>
          <div class="client-slider owl-carousel owl-theme">
             
            
              <img src="../../assets/img/inc42.png" alt="Featured In">
           
              
            
              <img src="../../assets/img/cio_elets.png" alt="Featured In">
           
              
            
              <img src="../../images/clients/businessline.png" alt="Featured In">
           
              
            
              <img src="../../images/clients/cio_elets.png" alt="Featured In">
           
              
            
              <img src="../../images/clients/businessstandard.png" alt="Featured In">
           
             
          </div>
        </div>
      </div>
    </div>
  </section>
  End of Featured In --> 
  <h1 style="text-align: center;">
    
    <span style="color:rgba(0,147,247,1);">about is working</span>
 
</h1>