
<h1 style="text-align: center;">
    
      <span style="color:rgba(0,147,247,1);">student is working</span>
   
  </h1>
  
  <!-- <div class="container">
    <div class="row">
      <div class="col-sm-8 m-auto">
        <p>We are re-imagining credit & payments from First Principles, and are looking for professionals who share that
          same vision. If you want to be at the cutting edge of fintech in India, give us a shout on
          careers@getonecard.app
  
        </p>
      </div>
    </div>
  </div><br> -->
  
  
  
  
  
  
  <!-- Gallery -->
  <!-- <section class="gallery">
    <div class="container-fluid p-0">
      <div class="row no-gutters"> 
        <div class="col-8 mx-auto d-block">
          <div class="image"> <img data-fancybox="gallery" href="../../assets/img/careers_onecard_onescore.jpg" class="img-fluid"
              style="border-radius: 10px;" src="../../assets/img/careers_onecard_onescore.jpg" alt="Join OneCard"
              onerror="this.src='..\/images\/gallery\/careers_onecard_onescore.jpg'"> </div>
        </div> 
      </div>
    </div>
  </section> -->
  <!-- End of Gallery -->