<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


<div class="container ">
  <div class="row">
    <div class="col col-lg-6">
      <h1>Say Hi to</h1>
      <p>OneCard</p>
      <p>Co-branded Card Issuers :</p>
      <img src="https://www.getonecard.app/images/legal/Banking_partners_24thJan_dark__.png"
        style="height: 100px;width: 350px;">
      <p class="m-1 mt-3">India's best metal credit card. Built with full-stack tech.</p>
      <p class="m-1">Backed by the principles of simplicity, transparency, and</p>
      <p>giving back control to the user. </p>
      <img src="https://www.getonecard.app/images/icons/cta_apply_now.svg" class="img-fluid" alt="...">
    </div>
    <div class="col col-lg-6 ">
      <video class="img-fluid" style="margin-left: 60px;" width="460" height="460" autoplay="autoplay" muted="muted"
        loop="loop">
        <source src="https://www.getonecard.app/images/say_hi_2x_d3_.mp4" type="video/mp4">
      </video>
    </div>
  </div>
</div>

<div style="background-color: black; text-align: center;color: white;height: 500px;">
  <div class="container ">

    <p class="text-center d2-2 mt-4">No Hidden Fees Ever.</p>
    <div class="mb-5">
      <span class="text-center text-white d2-1">No Joining Fees.</span><br>
      <span class="text-center text-white d2-1">No Annual Fees.</span><br>
      <span class="text-center text-white d2-1">No Rewards Redemption Fees.</span><br>
    </div>
  </div>
</div>



<div class="container mt-5" style="background-color: rgb(223, 250, 250);">
  <div class="row">
    <div class="col-lg-6 ml-auto justify-content-center">
      <!-- Feature Mockup -->
      <!-- <video class="img-fluid" style="float: left" width="460" height="460" autoplay="autoplay" muted="muted"
        loop="loop">
        <source src="https://www.getonecard.app/images/Website_Card_controls.mp4" type="video/mp4">
      </video>
    </div>

    <div class="col-lg-6 mt-5">
      <img src="https://www.getonecard.app/images/feature/control_app_icon.svg" style="margin-left: 100px;">
      <div style="margin-left: 100px;">
        <p>Powerful Mobile App</p>
        <p> Powerful</p>
        <p>Control all aspects of your co-branded</p>
        <p>credit card from the powerful OneCard app</p>
        <p>- transaction limit, domestic/international</p>
        <p>use, online/offline use, contactless</p>
        <p>payments and much more.</p>
      </div>
    </div>
  </div>
</div>



<div class="container mt-5" style="background-color: rgb(223, 250, 250);">
  <div class="row">
    <div class="col-lg-6 ml-auto justify-content-center mt-5">
      <img src="https://www.getonecard.app/images/feature/metal_icon.svg">
      <p>It's metal</p>
      <p>A co-branded credit card that is exclusive,</p>
      <p>and exquisitely crafted with metal,</p>
      <p>because you deserve only the best. Why</p>
      <p>settle for plastic cards anymore?
      </p>
    </div>
    <div class="col-lg-6 mt-5">
      <video class="img-fluid" style="float: left" width="460" height="460" autoplay="autoplay" muted="muted"
        loop="loop">
        <source src="https://www.getonecard.app/images/CardRotation_d5.mp4" type="video/mp4">
      </video>
    </div>
  </div>
</div>


<div class="container mt-5" style="background-color: rgb(223, 250, 250);">
  <div class="row">
    <div class="col-lg-6 ml-auto justify-content-center mt-5">
      <video class="img-fluid" style="float: left" width="460" height="460" autoplay="autoplay" muted="muted"
        loop="loop">
        <source src="https://www.getonecard.app/images/website_seamless_onboarding.mp4" type="video/mp4">
      </video>
    </div>
    <div class="col-lg-6 mt-5">
      <img src="https://www.getonecard.app/images/feature/kyc_icon.svg">
      <h1>Seamless</h1>
      <h1> on-boarding</h1>
      <p>Get started using a completely digital on-</p>
      <p>boarding process, and activate your</p>
      <p> OneCard in less than 5 minutes.</p>
    </div>
  </div>
</div>


<div class="container mt-5" style="background-color: rgb(223, 250, 250);">
  <div class="row">

    <div class="col-lg-6 mt-5">
      <img src="https://www.getonecard.app/images/feature/rewards_icon.svg">
      <h1>5X rewards on your top</h1>
      <h1> spends</h1>
      <div>5X rewards on Top 2 spend categories.</div>
      <div>Points are credited instantly and never</div>
      <div>expire. Just swipe right to redeem. No more</div>
      <div>rounding off, get even fractional points.</div>
    </div>


    <div class="col-lg-6 ml-auto justify-content-center mt-5">
      <video class="img-fluid" style="float: left" width="460" height="460" autoplay="autoplay" muted="muted"
        loop="loop">
        <source src="https://www.getonecard.app/images/feature/rewards.mp4" type="video/mp4">
      </video>
    </div>
  </div>
</div>





<div class="container mt-5" style="background-color: rgb(223, 250, 250);">
  <div class="row">
    <div class="col-lg-6 ml-auto justify-content-center mt-5">
      <video class="img-fluid" style="float: left" width="460" height="460" autoplay="autoplay" muted="muted"
        loop="loop">
        <source src="https://www.getonecard.app/images/feature/emi.mp4" type="video/mp4">
      </video>
    </div>
    <div class="col-lg-6 mt-5">
      <img src="https://www.getonecard.app/images/feature/emi.svg">
      <h1>OneCard EMI</h1>
      <div>Shop in full, pay in parts. No calls, no emails,</div>
      <div>no documentation. Get points on EMI</div>
      <div>transactions, repay EMIs with reward</div>
      <div>points. Manage EMIs from the EMI</div>
      <div>Dashboard.</div>
    </div>
  </div>
</div> -->
 





<h1 style="text-align: center;">
    
  <span style="color:rgba(0,147,247,1);">home is working</span>

</h1>


<router-outlet></router-outlet>